.my-modal-backdrop{
  position: fixed;
  background-color: rgb(136,136,136, 0.4);
  z-index: 2;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
.my-modal{
  position: fixed;
  background-color: white;
  width:300px;
  z-index: 2;
  padding: 25px;
  border-radius: 5px;
  left:50%;
  top: 50%;
  color: #303030;
  transform: translate(-50%, -50%);
}
input[type='text'].normal{
  display: block;
  width: 70%;
  padding:10px;
  border-radius:5px;
  color:#303030;
  font-size:15px;
  border:1.5px solid gray;
  margin: 10px auto;
  box-sizing: border-box;
}
input[type='datetime-local'].normal{
  display: block;
  width: 70%;
  padding:10px;
  border-radius:5px;
  color:#303030;
  font-size:15px;
  border:1.5px solid gray;
  margin: 10px auto;
  box-sizing: border-box;
}

.text-label {
  display: block;
  width:70%;
  margin: 10px auto;
  color:#303030;
}
.delete-bttn{
  visibility:hidden;
}
.task-body:hover .delete-bttn{
  visibility: visible;
}
