input[type='text'].normal{
  display: block;
  width: 70%;
  padding:10px;
  border-radius:5px;
  color:#303030;
  font-size:15px;
  border:1.5px solid gray;
  margin: 10px auto;
  box-sizing: border-box;
}
input[type='datetime-local'].normal{
  display: block;
  width: 70%;
  padding:10px;
  border-radius:5px;
  color:#303030;
  font-size:15px;
  border:1.5px solid gray;
  margin: 10px auto;
  box-sizing: border-box;
}
.text-label {
  display: block;
  width:70%;
  margin: 10px auto;
  color:#303030;
}
.delete-bttn{
  visibility:hidden;
}
.task-body:hover .delete-bttn{
  visibility: visible;
}
@media only screen and (max-width:1224px){
  input[type='text'].normal{
    width:80%
  }
  input[type='datetime-local'].normal{
    width:80%
  }
  .text-label {
    width: 80%;
  }
}
